


<section id="post-833" class="quadro-mod type-blog clear blog-style-masonry masonry-margins-true ">
                <div class="inner-mod">
                <div class="blog-wrapper">
                <div id="grid" class="anim-grid anim-4 blog-container blog-content blog-masonry blog-columns-three">

                    <h2>Add New Category</h2>

                    <%= form_for [@category] do |f| %>
<p>
<%= f.label :category_name %><br>  
<%= f.text_field :name %>
</p>

<p>
<%= f.submit "Save" %>
</p>


<% end %>









                </div>
                </div>
                </div>
                </section>
               </section>